@media (max-width: 1100px){
    .about {
        gap: 50px;

        .imgAbout {
            img {
                width: 350px;
                clip-path: circle(40%);
            }
        }

        .about-text {
            width: 500px;
            margin-bottom: 25px;
    
            h2 {
               font-size: 3rem; 
            }
    
            p {
                font-size: 1.2rem;
                line-height: 130%;
                text-align: justify;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 1225px) {
    .services-container {

        h2 {
            font-size: 2.1rem;
        }

        .bg-resina, .bg-clareamento, .bg-preenchimento, .bg-botox {
            width: 250px;
        }

        .text-resina {
            margin-top: 5px;
        
            h3 {
                font-size: 1.5rem;
                text-align: center;
                font-weight: 500;
            }
            p {
                font-size: 1.1rem;
                margin-top: 15px;
                text-align: center;
            }
        }


        .text-clareamento {

            h3 {
                font-size: 1.4rem;
            }
            p {
                font-size: 1rem;
                margin-top: 7px;
                text-align: center;
            }
            .icons-services {
                margin-top: 10px;
            }
        }

        .text-preenchimento {
            p {
                text-align: center;
            }
            .icons-services {
                margin-top: 15px;
            }
        }

        .text-botox {
            h3 {
                font-size: 1.5rem;
                padding: 0;
                margin-top: 10px;
            }
            p {
                font-size: 1rem;
            }
            .icons-services {
                margin-top: 10px;
            }
        }
    }

    .job .mundi img {
        object-fit: cover;
    }
}

@media (max-width: 910px) {
    .about {
        gap: 50px;

        .imgAbout {
            img {
                width: 350px;
                clip-path: circle(40%);
            }
        }

        .about-text {
            width: 400px;
            margin-bottom: 25px;
    
            h2 {
               font-size: 3rem; 
            }
    
            p {
                font-size: 1.2rem;
                line-height: 130%;
                text-align: justify;
                margin-top: 20px;
            }
        }
    }

    .services {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        row-gap: 15px;
    }

    .relatos-boxs .relatos-content {
        height: 350px;
    }
}

@media (max-width: 825px) {
    .relatos-container {
        width: 100%;
        height: 900px;
    }
    .relatos-boxs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
    }
}

@media (max-width: 768px) {
    .about .imgAbout img {
        width: 300px;
    }

    .about .about-text {
        width: 350px;
    }

    .container-slider {
        height: 400px;
    }

    .container-slider .slides {
        height: 400px;
    }

    .container-slider .nav-automatica {
        margin-top: 370px;
    }
}

@media (max-width: 710px) {
    .about .about-text {
        width: 300px;
    }

    .inf {
        font-size: 16px;
    }

    .nav .nav-menu {
        display: none;
    }

    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 660px) {
    .about .about-text {
        width: 250px;
        height: 400px;

        h2 {
            font-size: 2rem;
            text-align: center;
        }
        p {
            font-size: 18px;
            text-align: center;
        }
    }
}

@media (max-width: 635px) {
    .relatos-container {
        width: 100%;
        height: 1700px;
    }

    .relatos-boxs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 510px) {

    .header {
        .logo {
            margin-left: 0;
        }
    }

    .hero {
        .hero-text  {
            margin-bottom: 100px;

            .boasVindas {
                font-size: 14px;
            }

            h1 {
                font-size: 2.9rem;
                margin-top: 7px;
            }

            .quebrah1 {
                font-size: 3rem;
            }

            .chamada {
                position: static;
                margin-top: 10px;
                font-size: 15px;
            }
        }
    }    
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 100%;
        height: 800px;

        .imgAbout {
            img {
                position: relative;
                top: 50px;
            }
        }

        .about-text {
            height: 700px;
            width: 350px;

            p {
                text-align: center;
                background-color: #0000002a;
                border-radius: 4px;
                padding: 10px;
                margin-top: 0;
            }

            h2 {
                font-size: 2.5rem;
            }
        }
    }

    .services {
        padding-bottom: 40px;
        height: 1800px;

        .services-container {
            display: flex;
            flex-direction: column;

        }
    }

    .slider-content {
        height: 600px;
    }

    .job {
        .localizacao {
            text-align: center;
        }
    }

    footer {
        .direitos {
            text-align: center;
        }
    }

    .slider-content .container-slider {
        width: 350px;

        .nav-manual {
            width: 350px;
            margin-top: -60px;
            margin-left: -1px
        }

        .nav-automatica {
            width: 350px;

            margin-top: 340px;
            margin-left: -1px;
        }
    }

    .btn-whatsapp {
        right: 5px;

        img {
            max-width: 65px;
        }
    }
}

@media (max-width: 375px) {
    .hero .hero-text .chamada {
        width: 300px;
        text-align: center;
        margin-left: -35px;
    }
}
